.jumbotron {
  padding-top: 6rem;
  background-color: #e2edfe;
}

#projects {
  background-color: #e2edfe;
}

#stack {
  background-color: #e2edfe;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100;
}

#gallery .row > * {
  padding: 0;
}

#stack img {
  width: 200px;
  margin-top: 35px;
  margin-left: 50px;
  padding: 20px;
}
